
#comments {
    max-width: 600px;
    flex-direction: column;
    line-height: 20px;
    background-color: white;
    color: Black;

    overflow: hidden;
    box-sizing: border-box;
}
#comments ul {
    display: inline-block;
    padding-top: 10%;
    animation: comments 40s linear infinite;

}
#comments :hover {
    animation-play-state: paused;
}
@keyframes comments {
    0%   { transform: translate(0%, 0); }
    100% { transform: translate(0, -100%); }
}
